[Unit]
Description=Generate SWEFTY-OS Pre-Login Banner
Before=getty.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/swefty-issue-gen
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
